<p>
    Welcome <%= name %> 
</p>

<p>
     You can confirm your account email through the link below:
</p> 

<p>
    <a href="<%= originUrl %>/auth/verification?confirmation_token=<%= activation_token %>">Confirm my account</a>
</p> 
<p>
     Regards
     <br/>
     GC Support Team
</p> 