<!-- <h1 mat-dialog-title>Confirm</h1> -->
<!-- <div mat-dialog-content>{{confirmMessage}}</div>
<div mat-dialog-actions>
  <button mat-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">Confirm</button>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div> -->

<h1 mat-dialog-title>
    Delete Vehicle
  </h1>
  
  <div mat-dialog-content>
    <p>Are you sure you want to delete this?</p>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button  (click)="dialogRef.close(false)" >No</button>
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">Yes</button>
  </div>