<div class="rcmBody"><p>Hello <%= name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><a href="<%= originUrl %>/auth/reset-password?password_reset_token=<%= password_reset_token %>" >Reset my password</a></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p></div>
<p>
     Regards
     <br/>
     GC Support Team
</p> 